# Set up notebook
### Import required packages

In [1]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

### Import our created package(s) from their .py file(s)

In [2]:
from fieldExAnalysis import fieldExAnalysis

## Read in and clean up sample data

In [3]:
df = pd.read_csv("http://www.ats.ucla.edu/stat/data/binary.csv")

#### Preview and explore your data

In [4]:
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [5]:
df.describe()

            admit         gre         gpa       rank
count  400.000000  400.000000  400.000000  400.00000
mean     0.317500  587.700000    3.389900    2.48500
std      0.466087  115.516536    0.380567    0.94446
min      0.000000  220.000000    2.260000    1.00000
25%      0.000000  520.000000    3.130000    2.00000
50%      0.000000  580.000000    3.395000    2.00000
75%      1.000000  660.000000    3.670000    3.00000
max      1.000000  800.000000    4.000000    4.00000

#### Rename column "rank" to "prestige" because "rank" is a reserved word in Python

In [6]:
df.columns = ["admit","gre","gpa","prestige"]

#### Create dummy variables where needed

In [7]:
dummy_ranks = pd.get_dummies(df['prestige'],prefix='prestige')
dummy_ranks.head()

   prestige_1  prestige_2  prestige_3  prestige_4
0         0.0         0.0         1.0         0.0
1         0.0         0.0         1.0         0.0
2         1.0         0.0         0.0         0.0
3         0.0         0.0         0.0         1.0
4         0.0         0.0         0.0         1.0

#### Create a new data frame 'data' with admit, gre, gpa, and three of the four prestige dummy vars. We will perform our analysis on this data frame.

In [8]:
data = df[['admit','gre','gpa']].join(dummy_ranks.ix[:,'prestige_2':])
data.head()

   admit  gre   gpa  prestige_2  prestige_3  prestige_4
0      0  380  3.61         0.0         1.0         0.0
1      1  660  3.67         0.0         1.0         0.0
2      1  800  4.00         0.0         0.0         0.0
3      1  640  3.19         0.0         0.0         1.0
4      0  520  2.93         0.0         0.0         1.0

In [9]:
"""
dumNum =list(set(df['prestige']))
dumNum.remove(1)
dumNum
"""

"\ndumNum =list(set(df['prestige']))\ndumNum.remove(1)\ndumNum\n"

#### You must add an intercept column equal to 1.0 when using statsmodels Logit

In [10]:
data['intercept']=1.0

#### Set up your training columns

In [11]:
train_cols = data.columns[1:]

### Run a logistic regression using statsmodels
#### This runs a logistic regression of y ('admit') on x (training columns) and saves the output, a python object, to the variable 'logit'. The variable 'logit' by itself won't make much sense to a human, so we'll do some additional fitting below.

In [12]:
logit = sm.Logit(data['admit'], data[train_cols])

#### Fit the model and save it to a new variable called 'result'

In [13]:
result = logit.fit()

Optimization terminated successfully.
         Current function value: 0.573147
         Iterations 6

#### View your results via .summary()

In [14]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  400
Model:                          Logit   Df Residuals:                      394
Method:                           MLE   Df Model:                            5
Date:                Wed, 16 Nov 2016   Pseudo R-squ.:                 0.08292
Time:                        11:10:39   Log-Likelihood:                -229.26
converged:                       True   LL-Null:                       -249.99
                                        LLR p-value:                 7.578e-08
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
gre            0.0023      0.001      2.070      0.038         0.000     0.004
gpa            0.8040      0.332      2.423      0.015         0.154     1.454
prestige_2    -0.6754      0.316     -2.134      0.033        -1.296    -0.055
prestige_3    -1.3402      0.345     -3.881      0.000        -2.017    -0.663
prestige_4    -1.5515      0.418     -3.713      0.000        -2.370    -0.733
intercept     -3.9900      1.140     -3.500      0.000        -6.224    -1.756
==============================================================================
"""

#### Find the odds rations, which tell you how a 1 unit increase in your variable impacts odds of being admitted. For example, if the prestige of school is 2, your odds are about 50% what they were compared to a baseline prestige of 1.

In [15]:
np.exp(result.params)

gre           1.002267
gpa           2.234545
prestige_2    0.508931
prestige_3    0.261792
prestige_4    0.211938
intercept     0.018500
dtype: float64

#### Return a data frame showing the confidence interval around each coefficient in our model

In [16]:
result.conf_int()

                   0         1
gre         0.000120  0.004409
gpa         0.153684  1.454391
prestige_2 -1.295751 -0.055135
prestige_3 -2.016992 -0.663416
prestige_4 -2.370399 -0.732529
intercept  -6.224242 -1.755716

# Test Using fieldExAnalysis function
### Reminder during testing: When you update fieldExAnalysis.py, you must restart the kernel and re-import the package for the changes to take effect in jupyter notebook.

#### Arguments taken by fieldExAnalysis: universeDf, dv, condition; Optional arguments: control, numConditions, covariates

In [17]:
test = fieldExAnalysis(data, 'admit',condition='prestige_2')

In [18]:
test.condition

'prestige_2'

In [19]:
test.numConditions

2

### Let's experiment with data frame df, prestending prestige was the condition variable

In [20]:
df.head()

   admit  gre   gpa  prestige
0      0  380  3.61         3
1      1  660  3.67         3
2      1  800  4.00         1
3      1  640  3.19         4
4      0  520  2.93         4

In [21]:
test = fieldExAnalysis(df,'admit',condition='prestige', control = 1)

In [22]:
test.condition

'prestige'

In [23]:
test.control

1

### Identify the treatment conditions

In [24]:
new = test.reformatConditions()

In [25]:
new.head()

   admit  gre   gpa  prestige  treat_1  treat_2  treat_3
0      0  380  3.61         3      NaN      1.0      NaN
1      1  660  3.67         3      NaN      1.0      NaN
2      1  800  4.00         1      0.0      0.0      0.0
3      1  640  3.19         4      NaN      NaN      1.0
4      0  520  2.93         4      NaN      NaN      1.0

In [26]:
len(set(new['prestige']))

4

In [27]:
new.columns.values

array(['admit', 'gre', 'gpa', 'prestige', 'treat_1', 'treat_2', 'treat_3'], dtype=object)

In [28]:
test.logitProcess(new,'admit','prestige')

Optimization terminated successfully.
         Current function value: 0.594639
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  400
Model:                          Logit   Df Residuals:                      398
Method:                           MLE   Df Model:                            1
Date:                Wed, 16 Nov 2016   Pseudo R-squ.:                 0.04853
Time:                        11:10:39   Log-Likelihood:                -237.86
converged:                       True   LL-Null:                       -249.99
                                        LLR p-value:                 8.394e-07
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
prestige      -0.5863      0.124     -4.728      0.000        -0.829    -0.343
intercept      0.6366      0.306      2.080      0.038         0.037     1.237
==============================================================================
"""

In [29]:
new.head()

   admit  gre   gpa  prestige  treat_1  treat_2  treat_3
0      0  380  3.61         3      NaN      1.0      NaN
1      1  660  3.67         3      NaN      1.0      NaN
2      1  800  4.00         1      0.0      0.0      0.0
3      1  640  3.19         4      NaN      NaN      1.0
4      0  520  2.93         4      NaN      NaN      1.0

### Try subsetting data frame and then doing logitProcess
#### Code below subsets data frame where values are not null. It's important to reset the index to avoid splicing error.

In [30]:
new.loc[new.treat_1.notnull()] #.reset_index(drop = True)

     admit  gre   gpa  prestige  treat_1  treat_2  treat_3
2        1  800  4.00         1      0.0      0.0      0.0
5        1  760  3.00         2      1.0      NaN      NaN
6        1  560  2.98         1      0.0      0.0      0.0
7        0  400  3.08         2      1.0      NaN      NaN
9        0  700  3.92         2      1.0      NaN      NaN
11       0  440  3.22         1      0.0      0.0      0.0
12       1  760  4.00         1      0.0      0.0      0.0
13       0  700  3.08         2      1.0      NaN      NaN
14       1  700  4.00         1      0.0      0.0      0.0
18       0  800  3.75         2      1.0      NaN      NaN
19       1  540  3.81         1      0.0      0.0      0.0
21       1  660  3.63         2      1.0      NaN      NaN
24       1  760  3.35         2      1.0      NaN      NaN
25       1  800  3.66         1      0.0      0.0      0.0
26       1  620  3.61         1      0.0      0.0      0.0
28       1  780  3.22         2      1.0      NaN      NaN
29       0  520  3.29         1      0.0      0.0      0.0
34       0  360  3.14         1      0.0      0.0      0.0
35       0  400  3.05         2      1.0      NaN      NaN
36       0  580  3.25         1      0.0      0.0      0.0
38       1  500  3.13         2      1.0      NaN      NaN
40       0  560  2.42         2      1.0      NaN      NaN
41       1  580  3.32         2      1.0      NaN      NaN
42       1  600  3.15         2      1.0      NaN      NaN
44       0  700  2.94         2      1.0      NaN      NaN
46       1  580  3.46         2      1.0      NaN      NaN
53       1  680  3.27         2      1.0      NaN      NaN
58       0  400  3.65         2      1.0      NaN      NaN
60       1  620  3.18         2      1.0      NaN      NaN
65       0  600  3.59         2      1.0      NaN      NaN
..     ...  ...   ...       ...      ...      ...      ...
360      1  520  4.00         1      0.0      0.0      0.0
361      1  540  3.49         1      0.0      0.0      0.0
362      0  680  3.14         2      1.0      NaN      NaN
363      0  460  3.44         2      1.0      NaN      NaN
364      1  560  3.36         1      0.0      0.0      0.0
368      0  580  4.00         1      0.0      0.0      0.0
369      0  800  3.89         2      1.0      NaN      NaN
370      1  540  3.77         2      1.0      NaN      NaN
372      1  680  2.42         1      0.0      0.0      0.0
373      1  620  3.37         1      0.0      0.0      0.0
374      0  560  3.78         2      1.0      NaN      NaN
376      0  620  3.63         2      1.0      NaN      NaN
377      1  800  4.00         2      1.0      NaN      NaN
379      0  540  2.70         2      1.0      NaN      NaN
380      0  700  3.65         2      1.0      NaN      NaN
381      1  540  3.49         2      1.0      NaN      NaN
382      0  540  3.51         2      1.0      NaN      NaN
383      0  660  4.00         1      0.0      0.0      0.0
384      1  480  2.62         2      1.0      NaN      NaN
385      0  420  3.02         1      0.0      0.0      0.0
386      1  740  3.86         2      1.0      NaN      NaN
387      0  580  3.36         2      1.0      NaN      NaN
388      0  640  3.17         2      1.0      NaN      NaN
389      0  640  3.51         2      1.0      NaN      NaN
390      1  800  3.05         2      1.0      NaN      NaN
391      1  660  3.88         2      1.0      NaN      NaN
393      1  620  3.75         2      1.0      NaN      NaN
395      0  620  4.00         2      1.0      NaN      NaN
397      0  460  2.63         2      1.0      NaN      NaN
398      0  700  3.65         2      1.0      NaN      NaN

[212 rows x 7 columns]

In [31]:
treat1Df = new[new['treat_1'].notnull()].reset_index()

#### Run logit process on subsetted data frame

In [32]:
test.logitProcess(treat1Df,'admit','treat_1')

Optimization terminated successfully.
         Current function value: 0.662896
         Iterations 4

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  212
Model:                          Logit   Df Residuals:                      210
Method:                           MLE   Df Model:                            1
Date:                Wed, 16 Nov 2016   Pseudo R-squ.:                 0.02083
Time:                        11:10:39   Log-Likelihood:                -140.53
converged:                       True   LL-Null:                       -143.52
                                        LLR p-value:                   0.01448
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
treat_1       -0.7500      0.308     -2.435      0.015        -1.354    -0.146
intercept      0.1643      0.257      0.639      0.523        -0.339     0.668
==============================================================================
"""

#### Figure out best way to create list from 1 to length of treat conditions

In [33]:
lenCondition = len(set(new['prestige'])) #new is df and prestige is condition
lenCondition

4

In [34]:
listConditions = list(range(lenCondition-1))
listConditions

[0, 1, 2]

In [35]:
# But actually... I want list [1,2,3]
listConditions = list(range(lenCondition))
listConditions.remove(0)
listConditions

[1, 2, 3]

In [36]:
test.analyze()

Optimization terminated successfully.
         Current function value: 0.662896
         Iterations 4
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  212
Model:                          Logit   Df Residuals:                      210
Method:                           MLE   Df Model:                            1
Date:                Wed, 16 Nov 2016   Pseudo R-squ.:                 0.02083
Time:                        11:10:39   Log-Likelihood:                -140.53
converged:                       True   LL-Null:                       -143.52
                                        LLR p-value:                   0.01448
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
treat_1       -0.7500      0.308     -2.435      0.015        -1.354    -0.146
intercept      0.1643      0.257      0.639      0.523        -0.339     0.668
==============================================================================
Optimization terminated successfully.
         Current function value: 0.590846
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  182
Model:                          Logit   Df Residuals:                      180
Method:                           MLE   Df Model:                            1
Date:                Wed, 16 Nov 2016   Pseudo R-squ.:                 0.07358
Time:                        11:10:39   Log-Likelihood:                -107.53
converged:                       True   LL-Null:                       -116.08
                                        LLR p-value:                 3.579e-05
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
treat_2       -1.3647      0.335     -4.069      0.000        -2.022    -0.707
intercept      0.1643      0.257      0.639      0.523        -0.339     0.668
==============================================================================
Optimization terminated successfully.
         Current function value: 0.574758
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  128
Model:                          Logit   Df Residuals:                      126
Method:                           MLE   Df Model:                            1
Date:                Wed, 16 Nov 2016   Pseudo R-squ.:                  0.1136
Time:                        11:10:39   Log-Likelihood:                -73.569
converged:                       True   LL-Null:                       -82.996
                                        LLR p-value:                 1.411e-05
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
treat_3       -1.6867      0.409     -4.121      0.000        -2.489    -0.885
intercept      0.1643      0.257      0.639      0.523        -0.339     0.668
==============================================================================

### Figure out how to add in covariates
#### Can we use an empty list where no covariates are implemented?

In [37]:
covariates = []
covariates

[]

In [38]:
treatList = ['treat_1']
treatList

['treat_1']

#### This doesn't work

In [39]:
treatListNew = treatList.append(covariates)
treatListNew

#### This puts the empty list inside of our new list, instead of appending the items inside the list

In [40]:
treatListNew = treatList + covariates
treatListNew

['treat_1', []]

In [41]:
covariatesNotEmpty = ['covar1','covar2']

In [42]:
treatListNew = treatList + covariatesNotEmpty
treatListNew

['treat_1', [], 'covar1', 'covar2']

#### Actually... .append() in line 51 might be changing treatList. Let's try again with new variables and see if the adding method works

In [43]:
treatList =['treat1']
treatList

['treat1']

In [44]:
covariatesNotEmpty

['covar1', 'covar2']

In [45]:
covariates

[]

In [46]:
treatListNew = treatList + covariates
treatListNew

['treat1']

In [47]:
treatListNew = treatList + covariatesNotEmpty
treatListNew

['treat1', 'covar1', 'covar2']

#### Aha! Just add.

### Try code using a list of covariates

In [48]:
df.head()

   admit  gre   gpa  prestige
0      0  380  3.61         3
1      1  660  3.67         3
2      1  800  4.00         1
3      1  640  3.19         4
4      0  520  2.93         4

In [49]:
test = fieldExAnalysis(df,dv='admit',condition='prestige',covariates=['gre','gpa'],control = 1)

In [50]:
test.analyze()

Optimization terminated successfully.
         Current function value: 0.640115
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  212
Model:                          Logit   Df Residuals:                      208
Method:                           MLE   Df Model:                            3
Date:                Wed, 16 Nov 2016   Pseudo R-squ.:                 0.05448
Time:                        11:10:39   Log-Likelihood:                -135.70
converged:                       True   LL-Null:                       -143.52
                                        LLR p-value:                  0.001346
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
treat_1       -0.6732      0.317     -2.127      0.033        -1.294    -0.053
intercept     -4.0663      1.446     -2.812      0.005        -6.900    -1.233
gre            0.0019      0.001      1.371      0.170        -0.001     0.005
gpa            0.8849      0.414      2.139      0.032         0.074     1.696
==============================================================================
Optimization terminated successfully.
         Current function value: 0.564571
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  182
Model:                          Logit   Df Residuals:                      178
Method:                           MLE   Df Model:                            3
Date:                Wed, 16 Nov 2016   Pseudo R-squ.:                  0.1148
Time:                        11:10:39   Log-Likelihood:                -102.75
converged:                       True   LL-Null:                       -116.08
                                        LLR p-value:                 6.982e-06
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
treat_2       -1.3292      0.348     -3.822      0.000        -2.011    -0.648
intercept     -4.0417      1.618     -2.499      0.012        -7.212    -0.871
gre            0.0029      0.002      1.742      0.081        -0.000     0.006
gpa            0.7074      0.511      1.385      0.166        -0.294     1.708
==============================================================================
Optimization terminated successfully.
         Current function value: 0.545527
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  128
Model:                          Logit   Df Residuals:                      124
Method:                           MLE   Df Model:                            3
Date:                Wed, 16 Nov 2016   Pseudo R-squ.:                  0.1587
Time:                        11:10:39   Log-Likelihood:                -69.827
converged:                       True   LL-Null:                       -82.996
                                        LLR p-value:                 8.104e-06
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
treat_3       -1.5392      0.422     -3.650      0.000        -2.366    -0.713
intercept     -4.9984      2.058     -2.429      0.015        -9.032    -0.965
gre            0.0024      0.002      1.262      0.207        -0.001     0.006
gpa            1.0758      0.610      1.764      0.078        -0.120     2.271
==============================================================================